header{
    background-image: url(./img/pattern.png);
    background-color: rgb(66, 183, 221);
    background-size: cover;
    background-position: center;
}

#Booleaner{
    width: 250px;
    padding: 40px;
    margin-left: 30px;
    margin-top: 40px;
}