header{
    background-image: url(./img/pattern.png);
    background-color: rgb(66, 183, 221);
    background-size: cover;
    background-position: center;
}

#Booleaner{
    width: 250px;
    padding: 40px;
    margin-left: 30px;
    margin-top: 40px;
}

h2{
    font-size: 20px;
    color: gray;
}

h1{
    font-size: 60px;
}

.subtitle{
    color: rgb(46, 166, 206);
}

#main-photo1{
    margin-top: 20px;
}

.image-text{
    font-size: 12px;
}

.lorem-text{
    background-color: yellow;
}

ul{
    margin-top: 10px;
}

thead{
    margin-left: 20px;
    background-color: rgb(46, 166, 206);
    color: white;
}

.row{
    background-color: lightblue;
}